{
	"semi": true,
	"singleQuote": true,
	"printWidth": 70,
	"bracketSpacing": true,
	"tabWidth": 2,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-organize-imports"]
}
